[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git://github.com/rstacruz/sparkup.git
[submodule "bundle/rename2"]
	path = bundle/rename2
	url = git://github.com/ReekenX/vim-rename2.git
[submodule "/home/andrei/.vim/bundle/gundo"]
    path = bundle/gundo
    url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git://github.com/walm/jshint.vim.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/vim-scripts/tlib.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/lunaru/vim-less.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/numbers"]
	path = bundle/numbers
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "bundle/tomorrow-theme"]
	path = bundle/tomorrow-theme
	url = git://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git://github.com/honza/vim-snippets.git
